/* Extra large devices (large desktops,)*/
@media (max-width: 1200px) {
    .hc-nav-trigger {
        left: 2%;
        top: 28px;
    }
    .navbar-header{
        margin-left: 60px;
    }
    .navbar-header .navbar-brand img {
        width: 150px;
        height: 30px;
    }
    .icon {
        float: right;
        margin-top: 5px;
        margin-right: 30px;
    }
    .icon-2 {
        margin-left: 30px;
    }
    .newsletter-input {
        float: none;
        margin: 0;
    }
    .newsletter-input .email-input {
        display: block;
        margin: 0 auto;
        width: 300px;
        margin-bottom: 25px;
        padding: 8px 15px;
    }
    .newsletter-input .submit-input {
        display: block;
        margin: 0 auto;
        width: 150px;
        padding: 8px 15px;
        font-size: 15px;
    }

}

/*Large devices (desktops,)*/
@media (max-width: 992px) {

}

/*Medium devices (tablets, )*/
@media (max-width: 768px) {

    .slide-text .slide-cell .slide-text-desc h1 {
         font-size: 40px;
        margin-bottom: 20px;

    }
    .slide-text .slide-cell .slide-text-desc h1>small{
      font-size: 18px;
    }
    .slide-text .slide-cell .slide-text-desc p {
        font-size: 25px;
        line-height: 30px;
        font-weight: 400;
        color: #38424a;
    }
    .slide-btn {
        margin-top: 40px;
    }
    .slide-btn .btn-default{
        border: 1px solid rgba(0, 0, 0, 0.3);
        font-size: 13px;
    }
    .slide-btn .slide-btn-1, .slide-btn .slide-btn-2 {
        padding: 10px 26px;

    }
    .btn-default:hover{

        border: 1px solid #14A5EB;
    }



    /****************Features**************************/
    .offer-text h1 {
        font-size: 40px;
    }
    .offer-text p {
        font-size: 18px;
    }
    .offer-img .img-fluid {
        max-width: 85%;
        height: auto;
    }


    /***features***************/

    #features {
        margin-top: 0;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .features-text h1 {
        font-size: 40px;
    }
    .features-box {
        margin-bottom: 45px;
        padding: 0 35px;
    }
    .features-box, .features-box p{
        text-align: center;
    }

    /****************About **********************/
    #about {
        padding: 40px 0;
    }
    .about-left {
        text-align: center;
        padding: 0 40px;
    }
    .about-left h1 {
        font-size: 40px;
    }
    .about-skillbar {
        margin-top: 50px;
        padding: 0 45px;
    }
    #counter-section {
        padding: 27px 0;
    }
    .counter-box-border{
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    .counter-box{
        border-left: none;
    }
    .counter-box .counter {
        font-size: 50px;
    }
    .counter-right-border{
        border-right: none;
    }
    #partner-section {
        padding-bottom: 20px;
    }
    .partner-img-box {
        width: 280px;
        margin: 0 auto;
        padding-bottom: 50px;
        text-align: center;
    }
    /****************Blog **********************/

    #blog {
        padding: 40px 0;
    }
    .blog-heading h1 {
        font-size: 40px;
        padding-bottom: 25px;
    }
    .blog-box {
        text-align: center;
        margin-bottom: 25px;
    }
    .blog-box .blog-img {
        width: 85%;
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    .blog-box h4 {
        font-size: 20px;
        margin-top: 30px;

    }
    .blog-box p {
        margin-top: 10px;
        font-size: 15px;
        text-align: center;
        word-spacing: 0px;
        letter-spacing: 1px;
    }
    .blog-first-info {
        float: none;
        margin: 30px;
    }
    .blog-third-info {
        /* float: right; */
        float: none;
        margin-left: 34px;
    }

    /****************Blog **********************/

    #newsletter {
        padding-top: 50px;
        padding-bottom: 140px;
    }
    .newsletter-text{
        padding: 0 30px;
    }
    .newsletter-des .newsletter-text h1 {
        font-size: 40px;
        line-height: 50px;

    }
    .newsletter-input {
        float: none;
        margin: 0;
        padding-top: 30px;

    }
    .newsletter-input .email-input {
        display: block;
        margin: 0 auto;
        width: 300px;
        margin-bottom: 25px;
        padding: 8px 15px;
    }
    .newsletter-input .submit-input {
        display: block;
        margin: 0 auto;
        width: 150px;
        padding: 8px 15px;
        font-size: 15px;
    }
    /****************Testimonial  **********************/
    .testimonial-content h1 {
        font-size: 40px;
    }
    .testimonial-content p {
        margin-top: 0px;
        font-size: 16px;
    }
    .testimonial-carousel .item .item-content .item-content-desc p.description {
        padding: 0 30px;
    }

    /****************Footer **********************/
    .footer-content {

        padding-bottom: 40px;
    }
    .footer-content .footer-logo img {
         width: 100%;
         height: 50px;
     }
    .footer-content p {
        margin-top: 10px;
        font-size: 16px;

    }
    .footer-content .footer-social-icon {
        margin-top: 20px;
    }
    .footer-content .footer-social-icon .footer-icon-menu li a {
        font-size: 20px;
    }
    .footer-copy p {
        font-size: 14px;
        color: #a7b0b4;
        letter-spacing: 0px;
        font-weight: 500;
    }
}


@media (max-width: 576px) {
    .hc-offcanvas-nav.hc-nav-1 .nav-container {
        width: 150px;
    }

    .slide-text .slide-cell .slide-text-desc h1 {
        font-size: 30px;


    }
    .slide-text .slide-cell .slide-text-desc h1 > small {
        font-size: 15px;
    }
    .slide-text .slide-cell .slide-text-desc p {
        font-size: 20px;
        line-height: 25px;
    }
    .slide-btn {
        margin-top: 40px;
    }
    .slide-btn .btn-default{
        border: 1px solid rgba(0, 0, 0, 0.3);
        font-size: 13px;
    }
    .slide-btn .slide-btn-1{
        padding: 6px 20px;
    }
    .slide-btn .slide-btn-2 {

        padding: 6px 20px;

    }
    .btn-default:hover{

        border: 1px solid #14A5EB;
    }

}
